:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  background-image: url('./images/background.png');
  width: 400px;
  height: 600px;
  position: relative;

  box-shadow: 4px 4px 4px 4px black;
}

.doodler {
  background-image: url('./images/doodler-guy.png');
  width: 85px;
  height: 85px;
  position: absolute;
  outline: 1px solid black;
}

.platform {
  background-image: url('./images/platform.png');
  width: 85px;
  height: 15px;
  position: absolute;

  background-color: darkolivegreen;

}